.xter{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:('download.jpg') ;
}
.container {
    background-image: ('download.jpg');
    background: rgba(16, 113, 182, 0.2); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px; /* Padding inside the element */
    width: 800px; /* Width of the element */
    height: 690px; /* Height of the element */

    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.top{
    padding:10px;
    margin:10px;
    width:800px;
    height:270px;
    justify-content:space-between;
    align-items:normal;
    display:flex;
}
.tleft{
    width:270px;
    height:265px;
    padding:10px;
    margin:10px;
    background-color:rgb(53, 89, 218) ;
}
.tright{
    width:540px;
    height:270px;
    padding:10px;
    margin:10px;
    font-size: medium;
    border:2px solid rgba(255, 255, 255, 0.3);;
    border-radius:15px;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
   
    
    background-color: rgba(16, 113, 182, 0.2);
    
}
.trtroops{
    
    display:flex;
    flex-wrap:wrap;
    
}

.bottom{
    padding:2px;
    margin:2px;
    width:630px;
    height:300px;
  
    display:flex;
    justify-content: space-between;
    
}
.bltop{
    width:265px;
    padding:10px;
    margin:10px;
    
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border:2px solid rgba(255, 255, 255, 0.3);;
    border-radius:15px;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
   
    
    background-color: rgba(16, 113, 182, 0.2);
}
.heroes{
    width:250px;
    
    display:flex;
    flex-wrap:wrap;
    
}
.blbottom{
    width:260px;
    height:170px;
    padding:10px;
    margin:10px;
    border:2px solid rgba(255, 255, 255, 0.3);;
    border-radius:15px;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
   
    
    background-color: rgba(16, 113, 182, 0.2);
}
.Pets{
    width:250px;
    
    display:flex;
    flex-wrap:wrap;
}

.brtop{
    width:490px;
    height:190px;
    
    border:2px solid rgba(255, 255, 255, 0.3);;
    border-radius:15px;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-color: rgba(16, 113, 182, 0.2);
    display:flex;
    flex-wrap:wrap;
}

.spells{
    width:470px;
    height:100px;
    padding:10px;
    margin:10px;
    display:flex;
    flex-wrap:wrap;
}
.brbottom{
    width:450px;
    height:120px;
    padding:10px;
    margin:10px;
    border:2px solid rgba(255, 255, 255, 0.3);;
    border-radius:15px;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  
    background-color: rgba(16, 113, 182, 0.2);
    display:flex;
    flex-wrap:wrap;
}
.sege{
    width:470px;
    height:50px;
    
    
    display: flex;
    flex-wrap:wrap;
}

.images{
    width:40px;
    height:40px;
    padding:2px;
    margin:3px;
    background-color: aliceblue;
}

